@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #040615;
  --body-text-color: white;
  --nav-bar-bg: rgba(4, 6, 21, 0.5);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color-gradient: linear-gradient(97deg, rgb(255, 255, 255) 0%, rgb(127, 182, 213) 100%);
  --primary: rebeccapurple;
  --secondary: cornflowerblue;
}


@layer components {
  .homeBtn {
    @apply p-2 text-sm rounded-full uppercase tracking-widest text-blue-400 transition-all hover:text-[#0000eb]/40
  }

  .skill-card {
    @apply p-1 border-none rounded-sm bg-blue-600 text-white
  }

  .project-btn {
    @apply bg-black rounded-lg leading-none px-7 py-4
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1024px) {

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
  }
}

body {
  background-color: #040615;
  color: white;
}

.page-heading {
  position: absolute;
  letter-spacing: 15px;
  top: 60px;
  color: rgb(96 165 250);
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 20px;
}

.page-sub-heading {
  position: absolute;
  letter-spacing: 3px;
  top: 100px;
  color: rgb(75, 145, 230);
  text-align: center;
  font-size: 11px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-left: 20px;
}

.experience-card {
  border-radius: 20px;
  margin: 0 1em;
  flex-shrink: 0;
  width: 100%;
}

.link-highlight>p>span {
  color: rgb(111, 131, 196);
  cursor: pointer;
  text-decoration: underline;
}

.grid-col-system {
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: 1fr; */
  overflow-x: scroll;
  grid-auto-columns: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li> div >span {
  color: rgb(111, 131, 196);
  cursor: pointer;
  text-decoration: underline;
}

/* .decorated-text {
  background-blend-mode: var(--text-color-gradient);
} */